@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #081426;
}

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #081426;
}

::-webkit-scrollbar-thumb {
  background: #203957;
  border-radius: 10px;
}